.joinRoomContainer {
    min-height: 125vh;
    background-color: #153b77;
}

.joinRoomContainer form {
    min-height: 125vh;
    background-color: #153b77;
}

.joinRoomContainer h3 {
    justify-content: center;
    text-align: center;
    position: relative;
    top: 10px;
}